# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Molecule files
.molecule

# VS Code files
.vscode

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache
